/* PÁGINA DE LOGIN */
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
}

.login-form-group {
    margin-bottom: 20px;
    text-align: left;
}

.login-form-group label {
    display: block;
    color: black;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.login-form-group input {
    width: 100% !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.login-image {
    margin-bottom: 20px;
}

.login-image img {
    display: block;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 0 auto;
}
